<h1>{{event[0].name}}</h1>

<p>
    {{event[0].teachingInstitute[0].name}} <a href="https://www.google.com/maps/dir//{{event[0].teachingInstitute[0].place}}+Porto+Alegre+-+RS,+90480-001,+Brasil/" target="_blank"><i class="material-icons">place</i></a>
    <br>
    {{event[0].date | date:'dd/MM/yyyy'}}
</p>

<p>{{event[0].description}}</p>

<h3>Participantes ({{event[0].participant.length || 0}})</h3>

<ul>
    <li ng-repeat="user in event[0].participant">{{user.name}}</li>
</ul>

<button ng-show="show === false" ng-click="addParticipant()">Participar do Evento</button>
<button ng-show="show === true" ng-click="deleteParticipant()">Sair do Evento</button>
