<form ng-submit="change()" name="eventChangeForm">
    <input type="text" ng-model="event[0].name" required placeholder="Nome">
    <input type="date" ng-model="event[0].date" required format-date>
    <select ng-model="event[0].teachingInstitute" required>
        <option disabled ng-selected="selected" value="">Instituição de Ensino</option>
        <option ng-repeat="option in teachingInstitute" value="{{option._id}}">{{option.name}}</option>
    </select>
    <textarea ng-model="event[0].description" required minlength="25"></textarea>

    <input type="submit" ng-disabled="eventFindForm.$invalid" value="Atualizar">
    <button type="button" ng-click="delete()">Deletar Evento</button>
    <button type="button">Cancelar</button>
</form>
