<form action="user/" method="PUT" ng-submit="submitData($event)" id="formPutUser">
    <input type="text" ng-model="dataSend.userName" placeholder="Nome" required>
    <input type="text" ng-model="dataSend.userUsername" placeholder="Nome de usuário" required>
    <input type="password" ng-model="dataSend.userPassword" placeholder="Senha" required>
    <input type="email" ng-model="dataSend.userEmail" placeholder="Email">
    <input type="tel" ng-model="dataSend.userPhone" placeholder="Celular">
    <input type="date" ng-model="dataSend.userBirth" placeholder="Data de nascimento">
    <input type="radio" name="gender" ng-model="dataSend.userMale" value="Masculino">
    <input type="radio" name="gender" ng-model="dataSend.userFemale" value="Feminino">

    <input type="submit" value="Atualizar">
    <button type="button">Cancelar</button>
</form>