<form ng-submit="addUser()" name="userAddForm">
    <input type="text" ng-model="user.name" required placeholder="Nome">
    <input type="text" ng-model="user.username" ng-change="verifyUsername()" required name="username" valid="{{usernameVerify}}" placeholder="Nome de usuário">
    <input type="password" ng-model="user.password" required placeholder="Senha">
    <input type="email" ng-model="user.email" placeholder="Email">
    <input type="tel" ng-model="user.phone" placeholder="Celular">
    <input type="date" ng-model="user.birth" required placeholder="Data de nascimento">
    <label>
        <input type="radio" ng-model="user.gender" ng-value="true" ng-required="user.gender != true && user.gender != false">Masculino
        <input type="radio" ng-model="user.gender" ng-value="false" ng-required="user.gender != true && user.gender != false">Feminino
    </label>
    <select ng-model="user.teachingInstitute" required>
        <option disabled ng-selected="selected" value="">Instituição de Ensino</option>
        <option ng-repeat="option in teachingInstitute" value="{{option._id}}">{{option.name}}</option>
    </select>

    <input type="submit" ng-disabled="userAddForm.$invalid" value="Cadastrar">
    <a href="/">Cancelar</a>
</form>