<h1>{{data.length}} Usuário(s) Encontrado(s)</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Aniversário</th>
            <th>Gênero</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Instituição</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in data">
            <td>{{user.name}}</td>
            <td>{{getAge(user.birth)}}</td>
            <td>{{user.birth | date:'dd/MM'}}</td>
            <td>{{getGender(user.gender)}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.teachingInstitute[0].name}}</td>
        </tr>
    </tbody>
</table>