<h1>{{max}} Instituição(ões) Econtrada(s)</h1>

<a href="#!/teachingInstitute/table/{{page-1}}"><button ng-disabled="page <= 1">Anterior</button></a>
<strong>{{(page - 1) * 25}} ~ {{(page - 1) * 25 + 25}} de {{max}}</strong>
<a href="#!/teachingInstitute/table/{{page+1}}"><button ng-disabled="page >= {{max / 25}}">Proximo</button></a>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email/Site</th>
            <th>Endereço</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="teachingInstitute in data">
            <td>{{teachingInstitute.name}}</td>
            <td>{{teachingInstitute.phone}}</td>
            <td>{{teachingInstitute.domain}}</td>
            <td>{{teachingInstitute.place}}</td>
        </tr>
    </tbody>
</table>