<h1>{{data.length}} Instituição(ões) Econtrada(s)</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email/Site</th>
            <th>Endereço</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="teachingInstitute in data">
            <td>{{teachingInstitute.name}}</td>
            <td>{{teachingInstitute.phone}}</td>
            <td>{{teachingInstitute.domain}}</td>
            <td>{{teachingInstitute.place}}</td>
        </tr>
    </tbody>
</table>